NEXT_PUBLIC_SUPABASE_URL=https://nphmkmvdtnvbysgjwghc.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5waG1rbXZkdG52YnlzZ2p3Z2hjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1NDcwODUsImV4cCI6MjEwMzEyMzA4NX0.2whMdLHVIccd8MGMYSNqlFHVIScGeUTxg-7729rhgL8
PYTHON_API_URL=http://localhost:8000